<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	<link href="~/Content/assets/css/dpl-min.css" rel="stylesheet" />
	<link href="~/Content/assets/css/bui-min.css" rel="stylesheet" />
	<link href="~/Content/assets/css/page-min.css" rel="stylesheet" />
	<link href="~/Content/assets/css/prettify.css" rel="stylesheet" />
	<script src="~/Content/assets/js/jquery-1.8.1.min.js"></script>
	<script src="~/Content/assets/js/bui-min.js"></script>
	<script src="~/Content/assets/js/config-min.js"></script>
</head>
<body>
	<div class="container body-content">
		@RenderBody()
	</div>
</body>
</html>